body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow: hidden;
}

.b-nav {
  width: 280px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.b-container {  
  width: 100%;
  height: auto;
  background-color: #f7f8fc;
  border: solid #f7f8fc;
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em #f7f8fc, inset 0 0.125em 0.5em #f7f8fc;
  overflow: scroll;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

hr {
  border: 1px solid gray;
}
